#Ingredients {
    height: 100%;

    .loading-state {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--cool-grey);
        font-size: 32px;
    }

    .page-header {
        margin: 12px 12px 20px 12px;
        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 12px;

            h1 {
                font-size: 48px;
                margin: 0;
            }
        }
        .search-bar {
            margin-bottom: 16px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .search-wrapper {
                position: relative;
                display: flex;
                align-items: center;
                width: 80%;

                input {
                    width: 100%;
                    box-sizing: border-box;
                }

                .clear-button {
                    position: absolute;
                    right: 5px;
                    font-size: 14px;
                }
            }

            .add-button {
                color: var(--cool-green);
                border: solid 2px var(--cool-green);
                border-radius: 50px;
                height: 50px;
                width: 50px;
                font-size: 24px;
                cursor: pointer;
                transition: all 0.3s;
            }
        }

        .filters {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .filter-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .filter-button {
                    font-size: 20px;
                    color: var(--cool-grey);
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    transition: all 0.3s;
                    margin: 4px 0px;

                    span {
                        font-family: var(--primary-font);
                    }

                    svg {
                        margin-left: 8px;
                        font-size: 20px;
                    }
                }

                .sort-by {
                    display: flex;
                    align-items: center;

                    label {
                        margin-right: 4px;
                    }

                    select {
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        background-color: transparent;
                        padding: 4px;
                        font-size: 16px;
                        color: var(--cool-grey);
                        margin: 0;
                    }
                    option {
                        background-color: var(--cool-green);
                        color: white;
                    }

                    .sort-direction {
                        color: var(--cool-grey);
                    }

                    svg {
                        font-size: 20px;
                    }
                }
            }

            .filter-row {
                label {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
            }

            .select-filters {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
            }

            svg {
                font-size: 28px;
            }

            select {
                margin: 4px 8px 0 0;
                background-color: transparent;
                color: white;
                padding: 4px;
                font-size: 20px;
            }
            option {
                background-color: var(--cool-green);
                color: white;
            }

            .tag-filters {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    .empty-state {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--cool-grey);
        font-size: 32px;
    }

    .ingredients-list {
        list-style: none;
        font-size: 32px;
        padding: 0px 12px;

        .list-item {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 8px;
            grid-template-areas:
                "name edit"
                "tags status";
            // background-color: var(--cool-green);
            padding: 8px;
            align-items: center;
            border: solid grey 3px;
            margin-top: 8px;

            .edit-button {
                grid-area: edit;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: column;
                font-size: 16px;
                color: var(--cool-grey);
                cursor: pointer;
                transition: all 0.3s;

                svg {
                    font-size: 24px;
                }

                &:hover {
                    color: var(--cool-green);
                }
            }

            .ingredient-tags {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-wrap: wrap;
                width: 50%;
                font-size: 24px;
            }

            .status-container {
                grid-area: status;
                display: flex;
                flex-direction: column;
                align-items: center;
                .status {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    justify-self: flex-end;
                    font-size: 20px;
                    border-radius: 50px;
                    padding: 8px;

                    &.Plenty {
                        background-color: var(--cool-green);
                    }

                    &.Out {
                        background-color: var(--cool-red);
                        color: black;
                    }

                    &.Low {
                        background-color: var(--cool-yellow);
                        color: black;
                    }

                    &.Ordered {
                        background-color: var(--cool-blue);
                        color: black;
                    }
                }

                .status-date {
                    font-size: 12px;
                    color: var(--cool-grey);
                    text-align: center;
                }
            }
            .tags {
                grid-area: tags;
                display: flex;
                flex-wrap: wrap;

                .tag {
                    padding: 0px 12px;
                    border: 2px solid var(--cool-blue);
                    border-radius: 20px;
                    transition: all 0.3s;
                    display: flex;
                    color: var(--cool-blue);
                    font-size: 20px;
                }
            }
        }
    }

    .modal-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "body";

        .loading {
            grid-area: body;
            z-index: 2;
            background-color: rgba(255, 255, 255, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: black;
            font-size: 32px;

            #loading {
                #hammer,
                #fork {
                    fill: var(--cool-green);
                }
            }
        }

        form {
            grid-area: body;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto 1fr 1fr;

            grid-template-areas:
                "input"
                "type"
                "tags"
                "buttons";

            .name {
                grid-area: input;
                margin-bottom: 8px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                input {
                    width: 100%;
                }
                label {
                    color: black;
                    line-height: 1.5em;
                    margin-bottom: 2px;
                }
            }

            .type {
                grid-area: type;
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                label {
                    color: black;
                    line-height: 1.5em;
                    margin-bottom: 2px;
                }

                select {
                    width: 100%;
                }

                .type-button {
                    background-color: transparent;
                    border: solid 2px var(--cool-green);
                    border-radius: 50px;
                    height: 50px;
                    width: 50px;
                    font-size: 24px;
                    cursor: pointer;
                    transition: all 0.3s;
                    margin-right: 8px;
                }

                .selected {
                    background-color: var(--cool-green);
                    color: white;
                }
            }

            .tags {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
            }

            .buttons {
                grid-area: buttons;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                button {
                    background-color: var(--cool-green);
                    font-size: 28px;
                    font-family: var(--primary-font);
                    margin-left: 16px;

                    &.delete-button {
                        background-color: var(--cool-red);
                    }
                }
            }
        }
    }
}
