h1,
h2,
h3 {
	margin: 0;
	font-weight: bold;
	line-height: 2em;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 12px;
	height: 60px;
	background-color: var(--cool-green);
	color: #fff;
	font-family: var(--primary-font);
	font-size: 24px;

	a {
		text-decoration: none;
		padding: 8px;
		color: var(--cool-black);
		// border-radius: 100px;

		&:has(img) {
			padding: 4px;
			height: 32px;
			width: 32px;


			display: flex;
			justify-content: center;
		}

		img {
			height: 32px;
			width: 32px;
		}

		&.active {
			// background-color: var(--cool-grey);
			// color: var(--cool-green);
			border: solid var(--cool-black) 2px;
			background-color: #ffffff;
			border-radius: 8px;
			// box-shadow: black 0px 0 6px;
		}
	}
}

.build-time {
	font-size: 12px;
	color: var(--cool-grey);
	margin: 4px 12px;
}

.page-title {
	margin: 0 12px;
}

.chip {
	margin: 4px 4px 4px 0;
	cursor: pointer;
	font-family: var(--primary-font);

	.chip-text {
		color: var(--cool-grey);
		/* Text color when not selected */
		padding: 0px 12px;
		border: 2px solid var(--cool-green);
		border-radius: 20px;
		transition: all 0.3s;
		display: flex;
		color: var(--cool-green);
		font-size: 20px;
	}

	&.checked {
		.chip-text {
			color: #fff;
			background-color: var(--cool-green);
			border-radius: 20px;
			transition: all 0.3s;
		}
	}
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
	margin: 0;
	vertical-align: baseline;
	line-height: normal;
	appearance: none;
	box-sizing: border-box;
	border: solid 2px var(--cool-green);
	font-family: var(--primary-font);
	font-size: 28px;
	padding: 0 0 4px 4px;
	background-color: white;
	color: black;
	cursor: pointer;
	overflow: visible;
	line-height: 1.5em;

	&:focus {
		outline: none;
	}
}

input[type="text"]::placeholder,
select::placeholder {
	font-family: var(--primary-font);
	font-size: 28px;
	line-height: 1.5em;
	padding-bottom: 4px;
}

input[type="text"]:focus,
select:focus {
	outline: none;
}

option {
	font-family: var(--primary-font);
	font-size: 24px;
	padding: 4px;
}