// use local font
@font-face {
    font-family: 'Chalk';
    src: url('./assets/fonts/Chalk Board.ttf');
}

@font-face {
    font-family: 'WildySans';
    // src: url('./assets/fonts/Chalkaholic\ DEMO.otf');
    src: url('./assets/fonts/Orion Chalk Solid Demo Version.otf');
    font-weight: bold;
    font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;700&display=swap');

:root {
    // baloon-dog
    --cool-blue: #4ABDAC;
    --cool-red: #FC4A1A;
    --cool-yellow: #F7B733;
    --cool-grey: #DFDCE3;
    --cool-green: #00a632;

    --primary-font: 'Edu SA Beginner', sans-serif;
    height: 100vh;

}

body {
    background-color: #2a2a2a;
    color: var(--cool-grey); /* dark gray text color */
    font-family: var(--primary-font);
    margin:0;
    height: 100vh;

    #root {
      height: 100%;
    }
  }

  h1, h2, a {
    color: var(--cool-grey);
    font-family: var(--primary-font);
    margin: 0;
  }
  
  .button-primary {
    background-color: var(--cool-red);
    font-family: var(--primary-font);
    color: #fff;
  }
  
  .button-secondary {
    background-color: var(--cool-yellow);
    font-family: var(--primary-font);
    color: #fff;
  }
  
  .navbar {
    background-color: var(--cool-blue);
    color: #fff;
  }
